asset-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  font-size: 1.2em;
  padding-top: 82px;
  height: 100%;
  overflow: auto;
  overscroll-behavior: contain;
}
