asset-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  text-align: center;
  height: 100%;
  padding: calc(38px + 1em) .5em 0;
  font-size: var(--browser-asset-size);
  overflow-y: scroll;
  overscroll-behavior: contain;
}

[hide-labels] asset-list {
  display: block;
}
