tag-list {
  position: relative;
  text-align: center;
  font-size: .6em;

  search-points,
  file-count {
    display: inline-block;
    vertical-align: middle;
    margin: .1em;
    padding: .3em .6em;
    line-height: 1em;
  }
}

[hide-labels] tag-list {
  display: none;
}
