tag-list {
  display: block;
  position: relative;
  text-align: center;

  div { // TODO: Rename as tag-item
    display: inline-block;
    vertical-align: middle;
    margin: 0 .1em;
    padding: .3em .6em;
    border-radius: 8px;
    line-height: 1em;
    font-size: .75em;
    color: #ccc;
    background: #262626;
  }
}
