top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  font-weight: 700;
  padding-left: 80px;
  padding-right: 10px;
  border-bottom: 1px solid #111;
  // border-radius: 0 0 10px 10px;
  background: #fff1;
  color: #eaeaea;

  div {
    flex: 0 0 auto;
  }
}
