body {
  -webkit-app-region: drag;
  .ui, button { -webkit-app-region: no-drag; }

  background-color: #fff;
  @media (prefers-color-scheme: dark) {
    background-color: #2a2a2a;
  }
}

#bg {
  position: absolute;
  top:0;
  left: 0;

  svg {
    g { transform: translate(-750px, -780px) }
    path {
      animation: oscillate 12s infinite alternate cubic-bezier(.2,0,.8,1);
      transform-origin: center;
      filter: blur(24px);
      mix-blend-mode: multiply;
      @media (prefers-color-scheme: dark) {
        mix-blend-mode: screen;
      }
    }
    .a {
      fill: hsla(0,  100%, 50%, 1);
      opacity: .7;
      path { animation-delay: -20s; }
    }
    .b {
      fill: hsla(120, 100%, 50%, .8);
      opacity: .6;
      path { animation-delay: -24s; }
    }
    .c {
      fill: hsla(240, 100%, 50%, .6);
      path { animation-delay: -28s; }
    }
  }
}

button {
  font-size: 1.2em;
  margin: 0 .3em;
  padding: .4em .6em;
}

#welcome {
  text-align: center;

  gear-view {
    width: 14em;
    height: 14em;
    margin: 2em 0 0em;
    animation: outer-spin 31s infinite linear;

    div {
      background-image: var(--white-gear);
      animation: spin 111s infinite linear;
    }
  }

  &.exit {
    gear-view div {
      transform: scale(0) rotate(180deg);
      transition: transform 2s cubic-bezier(1, -.2, 1, 0);
    }
  }

  h1 {
    font-size: 3em;
    font-weight: 900;
    color: #bbb;
    mix-blend-mode: color-dodge;
  }

  .buttons {
    position: absolute;
    bottom: 3em;
    width: 100%;
  }
}

@keyframes oscillate {
  from { transform: rotate(-8deg); }
  to { transform: rotate(8deg); }
}

@keyframes outer-spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(-360deg) }
}
