search-view {
  padding: 1em 0 2em;

  asset-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2em;
    margin: .5em;

    asset-card {
      flex: 1 0 12em;
      max-width: 16em;
      display: inline-block;
      margin: 1.5em .5em;
      border-radius: .2em;
      box-shadow: 0 4px 16px -4px rgba(black, .4);
      background: white;
      cursor: pointer;
      overflow-x: hidden;

      * {
        pointer-events: none;
      }

      asset-name {
        display: block;
        margin: .7em;
        font-weight: 600;
        word-wrap: break-word;
      }

      img {
        width: calc(100% + 1px); // Avoid pixel cracks
        max-height: 12em;
        object-fit: contain;
        object-position: top;
      }

      tag-list {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        max-height: 3em;
        padding: .4em .2em 0;
        border-bottom: .4em solid white;
        overflow: hidden;

        div {
          flex: 0 0 auto;
          margin: .1em .2em;
          padding: .2em .5em;
          border-radius: 2em;
          line-height: 1em;
          font-size: .7em;
          font-weight: 500;
          color: #444;
          background: #eaeaea;
        }
      }
    }
  }
}
