body.welcome {
  #bg svg {
    transform: rotate(0deg) translate(0, -50px);
    g { transform: translate(0, -460px) scale(2, .8); }
  }

  #welcome {
    gear-view {
      opacity: .4;
      @media(prefers-color-scheme: dark) { opacity: .7; }
    }

    gear-view span { transform: scale(1) rotate(0deg); }
  }

  &[env-mac="false"] #welcome gear-view {
    opacity: 1;
  }
}

#welcome {
  display: block;

  gear-view {
    top: 1.5em;
  }

  h1 {
    top: 16rem;
    font-size: 3.5em;
  }

  setup-button {
    font-size: 1.2em;
  }
}

[env-mac="true"] #welcome h1 {
  color: #333;
  mix-blend-mode: color-dodge;
  @media (prefers-color-scheme: dark) {
    color: #bbb;
    mix-blend-mode: color-dodge;
  }
}
