gear-view {
  position: absolute;
  left: calc(50% - 7em);
  width: 14em;
  height: 14em;
  animation: outer-spin 31s infinite linear;
  opacity: 0;

  div {
    background-image: var(--white-gear);
    animation: gear-spin 111s infinite linear;
  }

  span {
    will-change: transform;
    transform: scale(.2) rotate(360deg); // Applies when not on the welcome screen (ie: hidden)
  }
}

[env-mac="true"] gear-view {
  mix-blend-mode: plus-lighter;
  filter: drop-shadow(0px 0px 32px #AAA);
  div {
    @media(prefers-color-scheme: dark) { background-image: var(--black-gear); }
  }
}

@keyframes outer-spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(-360deg) }
}
