h1 {
  position: absolute;
  left: 0;
  top: 5rem;
  width: 100%;
  font-size: 3em;
  font-weight: 900;
  opacity: 0;
}

[env-mac="true"] h1 {
  color: #333;
  mix-blend-mode: color-dodge;
  @media (prefers-color-scheme: dark) {
    color: #bbb;
  }
}
