html {
  text-align: center;

  -webkit-app-region: drag;
  .ui, setup-button, a, input { -webkit-app-region: no-drag; }

  --page-bg: #fff;

  @media (prefers-color-scheme: dark) {
    --page-bg: #1a1a1a;
  }
}
