setup-button {
  margin: 0 .4em;
  padding: .4em .6em;
  border-radius: 4px;
  border: 1px solid currentColor;
  user-select: none;
  cursor: default;
  opacity: 0;
}

[env-mac="true"] setup-button {
  color: var(--button-text);
  // background: var(--page-bg);
  &:active:hover { background-color: #9991; }
}

[env-mac="false"] setup-button {
  &:active:hover { background-color: #fff2; }
}
