html {
  font-family: var(--system-fonts);
}

body {
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding-left: 80px;
  padding-right: 10px;
  border-bottom: 1px solid black;
  font-size: 14px;
  color: white;
  background: #222;

  div { flex: 0 0 auto; }
}

main {
  padding: 10px 20px;
  overflow-y: scroll;
}
