main {
  height: 100%;
  padding: calc(37px + 1em) 1em 1em;
  line-height: 1.3;
  overflow-y: auto;
  overscroll-behavior: contain;
  font-family: Inconsolata, monospace;
  white-space: pre;
}

::-webkit-scrollbar-track {
  margin-top: 37px;
}
