.i-eye {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112 80" fill="none" stroke="black" stroke-width="10"></svg>');
  mask-repeat: no-repeat;
}

.icon {
  display: inline-block;
  stroke-width: 35px;
  fill: none;
  stroke: currentColor;

  &[disabled] {
    opacity: .5;
  }

  &:active {
    opacity: .5;
  }
}
