input {
  display: block;
  padding: .4em .8em;
  border: 1px solid var(--ui-border);
  border-radius: 8px;
  outline: none;
  background: var(--input-bg);
  color: var(--input-text);
  pointer-events: auto;
  user-select: contain;
}
