no-img {
  text-align: center;
  font-weight: 700;
  white-space: pre;
  color: var(--card-no-image-text);
  background: var(--card-no-image-bg);
  &:hover {
    background: var(--card-no-image-hover);
  }

  span {
    font-size: 2em;
  }
}
