::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  min-height: 40px;
  border: 2px solid var(--page-bg);
  border-radius: 8px;
  background-color: var(--scroll-thumb);
}

::-webkit-scrollbar-track {
  margin: calc(38px + 1em) 0 5px;
  background: none;
}

::-webkit-scrollbar-corner {
  background: none;
}
