search-box {
  position: relative;
  flex: 1 1 100%;
  display: block;

  input {
    width: 100%;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid var(--input-focus-after-border);
    border-radius: 8px;
    opacity: 0;
    transition: opacity .1s;
    pointer-events: none;
  }

  &:focus-within {
    &:after {
      opacity: 1;
    }
  }
}
