tag-list {
  display: block;
  color: var(--tag-text);

  tag-item {
    position: relative;
    display: inline-block;
    margin: .1em;
    padding: .3em .6em;
    border-radius: 4px;
    mask-image: paint(superellipse);
    vertical-align: middle;
    line-height: 1em;
    background: var(--meta-bg);

    &[special] { font-style: italic; }

    .remove {
      position: absolute;
      display: none;
      top: calc(50% - 1ex);
      right: .2ex;
      height: 2ex;
      width: 2ex;
      line-height: 1.5ex;
      border-radius: 4px;
      text-align: center;
      color: var(--button-text);
      background: var(--button-bg);
      border: 1px solid var(--ui-border);

      &:hover {
        background: var(--button-active-bg);
      }
    }

    &:hover .remove {
      display: inline-block;
    }
  }
}
