title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding: 0 4px;
  font-weight: 700;
  white-space: nowrap;

  .left, .center, .right { display: flex; }
  .left   { flex: 1 1 0; justify-content: flex-start; }
  .center { flex: 0 0 0; justify-content: center; }
  .right  { flex: 1 1 0; justify-content: flex-end; }

  div.ui {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: .5em;
    height: 100%;
  }
}

[env-mac="true"] title-bar {
  padding-left: 80px; // Leave 80px for the traffic lights
  .right { flex: 1 1 76px; } // 80px - padding-right
}

[env-mac="false"] title-bar {
  padding-right: 0;
  .left { flex: 1 1 140px; }
  .right  { flex: 1 0 140px; }
}
