title-bar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 38px;
  line-height: 38px;
  padding-left: 80px;
  // padding-top: 4px;
  padding-right: 4px;
  font-weight: 700;

  div {
    flex: 0 0 auto;
  }
}
