:root {
  --browser-asset-size: 1em;
  --browser-label-size: 1em;
}

// Default: light mode
html {
  --bubble-bg: #e9e9e9;
  --bubble-text-a: hsl(210, 0%, 50%);
  --bubble-text-b: hsl(240, 0%, 50%);
  --button-bg: #ddd;
  --button-text: #000;
  --button-active-bg: hsl(204, 0%, 53%);
  --card-image-bg: #fff;
  --card-image-hover-bg: #f2f2f2;
  --card-image-hover-border: #fff;
  --card-no-image-bg: #f7f7f7;
  --card-no-image-text: #777;
  --card-no-image-hover: #f7f7f7;
  --input-bg: #fff0;
  --input-text: #000;
  --input-focus-after-border: hsl(219, 82%, 74%);
  --main-bg: transparent; //#eeec;
  --meta-bg: #e7e7e7;
  --meta-text: #fff;
  --page-bg: #f2f2f2;
  --scroll-thumb: #ccc;
  --text-color: #272727;
  --title-bar-text: #171717;
  --tool-bar-bg: #f2f2f2cc;
  --ui-border: #0002;
}
html.blur {
  --title-bar-text: #a4a4a4;
}

@media (prefers-color-scheme: dark) {
  html {
    --bubble-bg: #0007;
    --bubble-text-a: hsl(46, 0%, 50%);
    --bubble-text-b: hsl(34, 0%, 50%);
    --button-bg: #555;
    --button-text: #fff;
    --button-active-bg: hsl(204, 0%, 53%);
    --card-image-bg: #fff;
    --card-image-hover-bg: #f2f2f2;
    --card-image-hover-border: #444;
    --card-no-image-bg: #f7f7f7;
    --card-no-image-text: #aaa;
    --card-no-image-hover: #f7f7f7;
    --input-bg: #0004;
    --input-text: #fff;
    --input-focus-after-border: #316d99;
    --main-bg: transparent;//#242424cc;
    --meta-bg: #282828;
    --meta-text: #ccc;
    --page-bg: #1b1b1b;
    --scroll-thumb: #333;
    --text-color: #fff;
    --title-bar-text: #eaeaea;
    --tool-bar-bg: #1b1b1bd0;
    --ui-border: #fff1;
  }
  html.blur {
    --title-bar-text: #666;
  }
}
