html {
  --window-top-filter: blur(24px) saturate(500%);
}
html.blur {
  --window-top-filter: none;
}

@media (prefers-color-scheme: dark) {
  html {
    --bubble-bg: #0007;
    --bubble-text-a: hsl(46, 0%, 50%);
    --bubble-text-b: hsl(34, 0%, 50%);
    --button-bg: #555;
    --button-text: #fff;
    --button-active-bg: hsl(204, 86%, 53%);
    --card-image-bg: #fff;
    --card-image-hover-bg: #f2f2f2;
    --card-image-hover-border: #444;
    --card-no-image-bg: #333;
    --card-no-image-text: #aaa;
    --card-no-image-hover: #3a3a3a;
    --input-bg: #0004;
    --input-border: #fff1;
    --input-text: #fff;
    --input-focus-after-border: #316d99;
    --meta-bg: #282828;
    --meta-text: #ccc;
    --page-bg: #1b1b1b;
    --scroll-thumb: #333;
    --text-color: #fff;
    --title-bar-bg: #353535ee;
    --title-bar-border: #111;
    --title-bar-text: #eaeaea;
    --tool-bar-bg: #242424f2;
    --tool-bar-border: #000;
  }
  html.blur {
    --title-bar-bg: #242424;
    --title-bar-text: #666;
    --tool-bar-bg: #242424;
  }
}

@media (prefers-color-scheme: light) {
  html {
    --bubble-bg: #e9e9e9;
    --bubble-text-a: hsl(210, 0%, 50%);
    --bubble-text-b: hsl(240, 0%, 50%);
    --button-bg: #ddd;
    --button-text: #000;
    --button-active-bg: hsl(204, 86%, 53%);
    --card-image-bg: #fff;
    --card-image-hover-bg: #f2f2f2;
    --card-image-hover-border: #fff;
    --card-no-image-bg: #f7f7f7;
    --card-no-image-text: #777;
    --card-no-image-hover: #fafafa;
    --input-bg: #fff0;
    --input-border: #0002;
    --input-text: #000;
    --input-focus-after-border: hsl(219, 82%, 74%);
    --meta-bg: #e7e7e7;
    --meta-text: #fff;
    --page-bg: #f2f2f2;
    --scroll-thumb: #ccc;
    --text-color: #272727;
    --title-bar-bg: #f0f0f0e6;
    --title-bar-border: #0002;
    --title-bar-text: #171717;
    --tool-bar-bg: #eeec;
    --tool-bar-border: #0002;
  }
  html.blur {
    --title-bar-bg: #e4e4e4;
    --title-bar-text: #a4a4a4;
    --tool-bar-bg: #e4e4e4;
  }
}
