window-top {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 15px;
  color: var(--title-bar-text);
  z-index: 2;
  -webkit-app-region: drag;

  .ui { -webkit-app-region: no-drag; }

  &::before {
    // This element applies the backdrop filter.
    // The element is made extra tall, and then chopped off at the bottom using a mask,
    // as a workaround for flickering due to Chrome's GPU accelerated blur fliter.
    // Disabling GPU acceleration would fix the issue too, but that destroys performance
    // in the Setup Assistant. This workaround *seems* to perform okay.
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(to top, var(--tool-bar-bg) 50%, var(--page-bg));
    z-index: -2;
    pointer-events: none;
    backdrop-filter: blur(12px) hue-rotate(50deg) saturate(400%);
    -webkit-mask-image: linear-gradient(to top, transparent 50%, black 50%);
  }
}
