window-top {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 15px;
  z-index: 2;
  -webkit-app-region: drag;

  .ui { -webkit-app-region: no-drag; }
}

[env-mac="true"] window-top.backdrop-filter {
  &::before {
    background: linear-gradient(to top, var(--tool-bar-bg) 50%, var(--page-bg) 110%);
  }
}

[env-mac="false"] window-top {
  background-color: var(--win-window-top);
}
