file-list {
  display: block;
  height: 100%;
  padding: 90px 0 0;
  overflow-y: auto;
  overscroll-behavior: contain;

  .file {
    margin: 1em;
    display: flex;
    align-items: center;

    img, no-img, video, .loading {
      flex: 0 0 auto;
      width: 10em;
      max-height: 10em;
      object-fit: contain;
      background: var(--card-image-bg);
    }

    no-img, .loading {
      display: block;
      line-height: 4em;
      background: var(--card-no-image-bg);
    }

    &:hover {
      .info { color: #777; }
    }

    .info {
      flex: 1 1 auto;
      margin-left: 1em;

      .name {
        font-size: 1.2em;
        font-weight: 600;
        margin-left: .2rem;
      }

      .meta {
        margin-top: 1em;
      }
    }
  }
}
