meta-pane asset-thumbnail {
  display: inline-block;
  margin: 0 1em;
  vertical-align: top;

  img {
    max-width: 100%;
    max-height: 30vh;
    margin-bottom: 1em;
    margin-right: 1em;
    border-radius: 8px;
    mask-image: paint(superellipse);
    object-fit: contain;
    object-position: top left;
  }
}
